.container {
  height: 100vh;          /* full screen height */
  width: 100%;
  background-image: url("./assets/ff99cbf432cbf9b2c26afcdb1af780999035369a.jpg");
  background-size: cover;  /* cover entire container */
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hearingaid{
    display: block;
    position: absolute;
    width: 697px;
    height: 400px;
    top: 0;
    left: 0;
}
.care{
    display: block;
    position: absolute;
    width: 697px;
    height: 241px;
    top: 400px;
    left: 0;
}
.login{
    position: absolute;
    width: 664px;
    height: 640px;
    top: 0px;
    right: 0;
    left: 700px;
    /* display: block; */
}
.login h1{
    
    color: #1E1E1E;
    font-weight: 400;
    font-size: 64px;
}
